*.ppt filter=lfs diff=lfs merge=lfs -text
*.pptx filter=lfs diff=lfs merge=lfs -text
*.doc filter=lfs diff=lfs merge=lfs -text
*.docx filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
*.xls filter=lfs diff=lfs merge=lfs -text
*.xlsx filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.md !text !filter !merge !diff
LICENSE !text !filter !merge !diff
*.txt !text !filter !merge !diff
*.py !text !filter !merge !diff
*.cpp !text !filter !merge !diff
*.c !text !filter !merge !diff
*.ipynb !text !filter !merge !diff
*.m !text !filter !merge !diff
